.main-container-blog{
width: 768px;
margin: 1.5rem auto;
}
.heading-blog-flex{
    display: flex;
}
.first-head{
    font-family: 'Poppins';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #FB7E15;
}
.heading-left-blog{
 width:80%;
}
.heading-right-blog{
    width: 20%;
}
.second-main-head{
font-family: 'poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
color: #151C28;
}
.read-date{
    font-family: 'Poppins';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 59px;
text-align: right;
color: rgba(88, 85, 98, 0.6);
}
.main-div-img{
    width: 100%;
}
.main-img{
    width: 100%;
    margin: 0 auto;
}

.main-img img{
    width: 100%;
    height: auto;
    border-radius: 16px;
}
.read-para{
    font-family: 'Poppins';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 160%;
color: #585562;
}

@media screen and (max-width:600px) {
    .heading-blog-flex{
        display: block;
    }
    .heading-left-blog{
        width:100%;
        .heading-right-blog{
    width: 100%;
padding-right: 63px;
}
       }
}

@media  (min-width:768px) and (max-width:968px){
    .heading-blog-flex{
        display: block;
    }
    .heading-left-blog{
        width:100%;
        .heading-right-blog{
    width: 100%;
padding-right: 63px;
}
       }
}